<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        {% include header.html %} 
        
        <!-- Main -->
        <div id="main" class="alt">
        
        <!-- One -->
        <section id="one">
        	<div class="inner">
        		<header class="major">
        			<h1>{{ page.title }}</h1>
                    {% if page.date %}
                      <p>
                        {{ page.date | date: "%B %-d, %Y" }}
                      </p>
                    {% endif %}
        		</header>
                <div class="row">
                    <div class="5u 12u$(medium)">
                        <img src="{{ site.baseurl }}/{{ page.image }}" alt=""/>
                    </div>
                    <div class="7u 12u$(medium)">
                            {{ page.content }}
                    </div>
                </div>
        	</div>
        </section>
        </div>
        {% include footer.html %}
    </body>
</html>
