<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %} 
    
    <!-- Main -->
    <div id="main" class="alt">
        <!-- One -->
        <section id="one">
	        <div class="inner">
                {% for post in site.posts %}
	                {% if post.title != 404 %}
	                    <header class="major">
                            <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
	                    </header>
                        <p>
	                        {% if post.date %}
                                {{ post.date | date: "%B %-d, %Y" }}
                            {% endif %}
                            {% if post.excerpt %}
                            - <b>{{ post.excerpt }}</b>
                            {% endif %}
                        </p>
	                {% endif %}
                    <hr>
                {% endfor %}
	        </div>
        </section>
    </div>

    {% include footer.html %}

  </body>

</html>
