<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %} 
    
    <!-- Main -->
    <div id="main" class="alt">
        <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h2>Resources & Articles</h2>
                </header>
            </div>
        </section>
        {% assign tiles = (site.resources | sort: 'date') | reverse %}
        <div class="content">
            <div class="inner">
                <section id="one" class="tiles">
                    {% for tile in tiles limit:site.tiles-count %}
                    <article>
                        <span class="image">
                            <img src="{{ site.baseurl }}/{{ tile.image }}" alt="" />
                        </span>
                        <header class="major">
                            <h3><a href="{{ tile.url  | relative_url }}" class="link">{{ tile.title }}</a></h3>
                            <p>{{ tile.excerpt }}</p>
                        </header>
                    </article>
                    {% endfor %}
                </section>
            </div>
        </div>
    </div>

    {% include footer.html %}

  </body>

</html>
