<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>

    <div>
        {% include header.html %} 
        
        <!-- Main -->
        <div id="main" class="alt">
            <!-- One -->
            <section id="one">
                <div class="inner">
                    <header class="major">
                        <h2>Stories</h2>
                    </header>
                </div>
            </section>
            {% assign tiles = site.stories | sort: 'date' | reverse %}
                <div class="content">
                    <div class="inner">
                        <section id="one" class="tiles">
                            {% for tile in tiles limit:site.tiles-count %}
                                {% if story.title != 404 %}
                                    <article>
                                        <span class="image">
                                            <img src="{{ site.baseurl }}/{{ tile.image }}" alt="" />
                                        </span>
                                        <header class="major">
                                            <h3><a href="{{ tile.url  | relative_url }}" class="link">{{ tile.title }}</a></h3>
                                            <p>{{ tile.excerpt }}</p>
                                        </header>
                                    </article>
                                {% endif %}
                            {% endfor %}
                        </section>
                    </div>
                </div>
        </div>
        
        {% include footer.html %}
    </div>
    </body>
</html>
