<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <header class="major">
                <h3>{{ page.landing-title }}</h3>
            </header>
            <div class="row">
                <div class="content 10u 12u$(medium)">
                    <p style="">
                    I'm a Software Engineer at <a href="https://security.googleblog.com/" target="_blank">Google</a> probably out <a href="https://aeonneo.notion.site/Snowboard-258d0f34b5f34d5f84b899233e301550" target="_blank">snowboarding</a>, <a href="{{ site.url }}/stories/by-pedal" target="_blank">biking</a>, <a href="https://open.spotify.com/user/1211576758" target="_blank">listening to music</a>, or <a href="https://www.goodreads.com/vincentyang" target="_blank">reading</a>.<br><br>
                    I'm fascinated by our raisons d’être and how we may best fulfill them.<br><br>
                    For posts, go to my <a href="https://aeonneo.notion.site/yangvincent-com-c0d3ae20715f4d928e4065f88ae37d4b" target="_blank">Notion</a>.</p>
                </div>
                <div class="inner 2u 12u$(small)">
                  <ul class="icons">
                      <li><a href="{{ site.linkedin_url }}" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
                      <li><a href="{{ site.resume_url }}" class="icon alt fa-file" target="_blank"><span class="label">Resume</span></a></li>
                  </ul>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
